version: '3.8'

services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    
    volumes:
      - ..:/workspace:cached
      - node_modules:/workspace/node_modules
      - dotnet_packages:/root/.nuget/packages
    
    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity
    
    # Uncomment to connect as root instead. More info: https://aka.ms/vscode-remote/containers/non-root.
    # user: root
    
    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    ports:
      - "4200:4200"  # Angular dev server
      - "5000:5000"  # .NET HTTP
      - "5001:5001"  # .NET HTTPS
    
    environment:
      - DOTNET_CLI_TELEMETRY_OPTOUT=1
      - DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1
      - NODE_ENV=development

volumes:
  node_modules:
  dotnet_packages:
